.App {
  margin: 0 auto;
  width: 90%;
}

.card {
  margin: 5px;
}

.form {
  text-align: center;
}

hr {
  height: 1px;
  width: 100%;
  margin: .5em 0;
}

.card-subtitle {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container-fluidd {
  display: flex;
  flex-wrap: wrap;
}

.card-text {
  font-size: .9rem;
  margin: 0em;
  width: 100%;
}

.jumbotron {
  margin: 1em 15px;
}

.list-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

h1 {
  font-size: 3.5rem;
}

#form {
  display: flex;
  flex-direction: column;
  margin: .4em 1.25em;
  align-items: center;
  text-align: center;
  padding: 1em;
  background-color: #fff;
}

.form-control {
  width: 23em;
}