.App {
  margin: 0 auto;
  width: 90%;
}

.card {
  margin: 5px;
  background-color: rgba(255, 255, 255, .93);
}

.form {
  text-align: center;
}

hr {
  height: 1px;
  width: 100%;
  margin: .5em 0;
}

.card-subtitle {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container-fluidd {
  display: flex;
  flex-wrap: wrap;
}

.card-text {
  font-size: .9rem;
  margin: 0em;
  width: 100%;
}

.jumbotron {
  margin: 1em 15px;
  background-color: rgba(236, 238, 239, 0.93);
}

.list-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

h1 {
  font-size: 3.5rem;
}

#form {
  display: flex;
  flex-direction: column;
  margin: .4em 1.25em;
  align-items: center;
  text-align: center;
  padding: 1em;
  background-color: rgba(236, 238, 239, 0.93);
}

.form-control {
  width: 23em;
}

.card-block {
  height: 28em;
}

img {
  position: relative;
  top: 80px;
  right: -25px;
  float: right;
  border-radius: 10px;
  height: 175px;
}

#form input:focus {
  border-color: red;
}